<footer id="footer">
  <div class="top">
    <a href="/" class="logo" aria-label="Inicio - Ecommerce Quantum">Quantum</a>
    <ul class="links">
      <li class="link"><a href="#">Tienda</a></li>
      <li class="link"><a href="#">Blog</a></li>
      <li class="link"><a href="#">Acerca de</a></li>
      <li class="link"><a href="#">Contacto</a></li>
    </ul>
    <ul class="social-links">
      <li class="link"><a href="#" aria-label="Facebook"><img src="/img/icons/social/ic_facebook.png" alt="Facebook"></a></li>
      <li class="link"><a href="#" aria-label="Twitter"><img src="/img/icons/social/ic_twitter.png" alt="Twitter"></a></li>
      <li class="link"><a href="#" aria-label="Instagram"><img src="/img/icons/social/ic_instagram.png" alt="Instagram"></a></li>
      <li class="link"><a href="#" aria-label="Youtube"><img src="/img/icons/social/ic_youtube.png" alt="Youtube"></a></li>
    </ul>
  </div>
  <div class="line-div"></div>
  <div class="bottom">
    <ul class="credibility">
      <li class="text">&copy; 2024 Quantum Ecommerce</li>
      <li class="text"><a href="#">Política de Privacidad</a></li>
      <li class="text"><a href="#">Términos de Uso</a></li>
    </ul>

    <div class="payment-methods">
      <p class="desc">Métodos de pago aceptados</p>
      <img src="/img/icons/payment/ic_visa.png" alt="Visa">
      <img src="/img/icons/payment/ic_mastercard.png" alt="Mastercard">
      <img src="/img/icons/payment/ic_paypal.png" alt="PayPal">
      <img src="/img/icons/payment/ic_visa.png" alt="Amazon">
    </div>
  </div>
</footer>
